
body {
padding: 0px;
min-height: 500px;
width: 100%;
background-color: #FFF;
margin: 0;
width: 100%;
margin: 0 auto;
padding: 0;
}

.maincontent{

padding:10px 20px;
}

.dbcolumn{
float:left;
width:290px;
padding:10px 20px 10px 5px;
}



h1 {
padding:0;
margin:0;
font: bold 2.8em Arial, Sans-Serif;
letter-spacing: -1px;
text-align:center;
}

h1 a { color: #FFF; background: inherit; }


.contenido{
padding: 5px;
font-family:verdana;
}

#navmenu{
    position:relative;
    height:35px;
    font-family:Verdana;
    padding:0 10px;
    background-image:linear-gradient(bottom, #08b 40%, #09c 78%);
    background-image:-o-linear-gradient(bottom, #08b 40%, #09c 78%);
    background-image:-moz-linear-gradient(bottom, #08b 40%, #09c 78%);
    background-image:-webkit-linear-gradient(bottom, #08b 40%, #09c 78%);
    background-image:-ms-linear-gradient(bottom, #08b 40%, #09c 78%);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e',endColorstr='#000')}
    
#navmenu>ul{
	margin:0;
	padding:0;
	font-size:20px;
	font-weight:200;
	display:inline-block;
	font-family:Helvetica;
	text-transform:lowercase}
        
#navmenu>ul>li{
    list-style-type:none;
    float:left;
    padding:0 10px;
    height:100%;
    line-height:35px;
    color:#fff}
    
#navmenu>ul>li:hover,#navmenu>ul>li:hover>a{
    background:#fff;color:#000
    }

#navmenu li a{
    text-decoration:none;
    color:#fff}
    
#navmenu ul li:hover>ul{
    display:block}

#navmenu ul ul ul{
    top:0;
    left:100%}

#navmenu ul ul{
    position:absolute;
    top:103%;
    display:none;
    padding:0;
    z-index:1}

#navmenu>ul>li>ul>li{
    left:-10px}
    
#navmenu > ul li ul li{
    position:relative;
    top:-1px;
    line-height:10px;
    background:#000;
    list-style-type:none;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:12px;
    border-bottom:1px solid #C0C0C0;
    padding:10px 40px 10px 25px}
    
#navmenu > ul li ul li:hover{
    background:gray
}

form{
padding:15px;
font-weight:bold;

}

th {
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #D8D8D8;
    color: #555555;
    font-weight: bold;
    padding: 6px 3px;
    text-align: left;
    text-shadow: 0 1px 0 #FFFFFF;
}

table,form ,h2{
    border: 1px solid #CACACA;
    border-radius: 3px 3px 3px 3px;
    margin: 0;
    width:90%;
    border-collapse: collapse;
    border-spacing: 0;
}
td ,form {
    background: none repeat scroll 0 0 #F8F8F8;
    border-bottom: 1px solid #EEEEEE;
    color: #484848;
    padding: 7px 3px;
    vertical-align: middle;
}


/*mensajes*/

.info {
border: 1px solid;
margin: 2px 0px;
padding:3px 10px 3px 40px;
background-repeat: no-repeat;
background-position: 10px center;
list-style:none;
color: #00529B;
background-color: #BDE5F8;
background-image: url('../images/info.png');
background-size:20px 20px;
}

.error {
border: 1px solid;
margin: 2px 0px;
padding:3px 10px 3px 40px;
background-repeat: no-repeat;
background-position: 10px center;
list-style:none;
color: white;
background-color: maroon;
background-image: url('../images/error.png');
background-size:20px 20px;
}

.warning {
border: 1px solid;
margin: 2px 0px;
padding:3px 10px 3px 40px;
background-repeat: no-repeat;
background-position: 10px center;
list-style:none;
color: black;
background-color: orange;
background-image: url('../images/warning.png');
background-size:20px 20px;
}

.sqlm {
border: 1px solid;
margin: 2px 0px;
padding:3px 10px 3px 40px;
background-repeat: no-repeat;
background-position: 10px center;
list-style:none;
color: white;
background-color: gray;
background-image: url('../images/sql.png');
background-size:20px 20px;
font-size: small;
}


input[type="button"],input[type="submit"] {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}input[type="button"]:hover,input[type="submit"]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}input[type="button"]:active,input[type="submit"]:active {
	position:relative;
	top:1px;
}

input[type="text"],input[type="password"]{
    border: 1px solid #DDDDDD;
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    font-size: 14px;
    margin: 10px 0;
    padding: 4px;
}
